/* INFOPAGE STYLESHEET! */

body {
    background-color: darkslategrey;
    height: 100;
    margin: 0;
}

.bg-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("image-folder/darkdriving.jpg");
    background-size: cover;
    background-position: absolute;
    background-position: center;
    z-index: -1;
    filter:blur(10px);
    -webkit-filter: blur(10px);
}

.title-container {
    text-align: center;
    background-image: radial-gradient(rgb(73, 114, 202), rgb(76, 92, 72), rgb(88, 63, 40));
    position: sticky;
    font-size: 25px;
    font-family: "Courier", Arial, Helvetica, serif;
    color: white;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-style: bold;
    flex-wrap: wrap;
    width: 35%;
    text-shadow: 3px 3px 0 black;
    border: 5px solid rgb(109, 109, 109);
    box-shadow: 3px 3px black;
}

.button-row-container {
    background-color: rgb(41, 53, 41);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px auto 25px;
    padding: 3px;
    border-radius: 10px;
    border: 5px solid rgb(109, 109, 109);
}

.button-item {
    margin: 10px;
    padding: 5px 10px;
    border: solid;
    border: 3px solid rgb( 109, 109, 109);
    background-color: rgb(72, 118, 129);
    border-radius: 10px;
    font-size: 25px;
    font-weight: 900;
    font-family: "Courier", Arial, Helvetica, serif;
    box-shadow: 3px 3px black;
    color: white;
    text-shadow: black 2px 2px;
}

#button-text {
    font-family: "Courier", Times, monospace;
    font-size: 150%;
    font-weight: 500;
    font-style: bold;
    background-image: radial-gradient(rgb(73, 114, 202), rgb(76, 92, 72), rgb(88, 63, 40));
    padding: 8px 6px;
    border-radius: 10px;
    border: 2px outset rgb( 109, 109, 109);
    color: white;
    text-shadow: 2px 2px black;
    margin-left: -20px;
    margin-right: 15px;
    box-shadow: 3px 3px black;
    font-weight: 700;
}

.infobox-container {
    background-color: rgb(41, 53, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
    border: 5px solid rgb(109, 109, 109);
    padding: 5px 20px;
}

.infobox {
    margin: 10px;
    font-family: "Courier", Times, monospace;
    font-size: 25px;
    font-weight: bolder;
    font-style: bold;
    background-color: rgb(69, 92, 69);
    border-radius: 10px;
    padding: 5px 50px;
    border: 3px solid rgb( 109, 109, 109);
    text-shadow: 1px 1px black;
    color: white;
}

.infobox-title {
    margin: 10px;
    font-family: "Courier", Times, monospace;
    font-size: 135%;
    font-weight: 700;
    font-style: bold;
    color: white;
    text-shadow: 3px 3px black;
    background-color: rgb(69, 92, 69);
    border: 3px solid rgb( 109, 109, 109);
    border-radius: 10px;
    padding: 5px 50px;
}